html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #222;
}
* {
	margin: 0;
	padding: 0;
}

canvas#c_image {
	display: none;
}

#topbar {
	position: fixed;
	width: 100%;
	max-height: calc((( 0 *100%) + 32px) - ( 0 *32px));
	overflow: hidden;
	z-index: 10000;
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
	background: -webkit-linear-gradient(top, #444, #222);
	transition: max-height 200ms;
}
#topbar.extended {
	max-height: calc((( 1 *100%) + 32px) - ( 1 *32px));
}
#topbar .tab {
	float: left;
	height: 32px;
	list-style: none;
	margin-left: 3px;
	padding: 0 6px;
	line-height: 32px;
	color: #999;
	font-family: "Ubuntu", -apple-system, "Oxygen", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 16px;
	text-decoration: none;
}
#topbar .tab:hover, #topbar .tab.active {
	background: -webkit-linear-gradient(top, #555, #333);
	color: #ccc;
}
#topbar .content {
	padding: 0px 20px 20px 10px;
	-webkit-column-width: 300px;
	-webkit-column-gap: 32px;
	display: none;
	clear: both;
	overflow: hidden;
}
#topbar .content.active {
	display: block;
}
#topbar .content li {
	padding: 0px 6px;
	margin: 6px;
	border-radius: 5px;
	background-color: rgba(100,100,100,0.1);
	list-style: none;
}
#topbar .content li:hover {
	background-color: rgba(100,100,100,0.5);
}
#topbar .content a {
	text-decoration: none;
}
#topbar .content li p {
	font-family: "Ubuntu", -apple-system, "Oxygen", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	line-height: 32px;
	color: #999;
}
#topbar .content li:hover p {
	color: #ccc;
}

#content {
	position: fixed;
	left: 0;
	top: 32px;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

#leftbar {
    height: 100%;
    width: 200px;
    background-color: #585;
	background-color: #333;
	/* background: -webkit-linear-gradient(right, #2a2a2a 0px, #383838 16px); */
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
    float: left;
}

#editor {
	height: 100%;
	background-color: #444;
	overflow: scroll;
}
canvas#c_editor {
	margin: 50px 50px 50px 50px;
	background-color: #888;
	background-image:
		-moz-linear-gradient(45deg, #444 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, #444 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, #444 75%),
		-moz-linear-gradient(-45deg, transparent 75%, #444 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #444), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #444), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #444)),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #444));

	-moz-background-size:20px 20px;
	background-size:20px 20px;
	-webkit-background-size:20px 21px; /* override value for shitty webkit */
	
	background-position:0 0, 10px 0, 10px -10px, 0px 10px;
}